.flex {
  display: flex;
}

.flex-even {
  flex: 1 1;
}

.flex-pubs {
  flex: 1 1.5;
}

.flex-wrap {
  flex-wrap: wrap;
}

.markdown-inner {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 90%;
    padding: 1rem 1rem;
}

.book-columns {
  margin-left: 0;
  margin-right: 0;
}

.pub-left {
    width: 35%;
    align: center;
}
.pub-right {
    width: 65%;
}

.myhint {
    background-color: green;
}

.myhint {
    border-color: green;
}
