{{ range $.Site.Data.pubs }}
    {{ with .institution }}
    <h2> @ {{ . }} </h2>
    {{ else }}
        {{ $image := resources.Get ( .image ) }}
        {{ $image := $image.Fit "350x350" }}
        <div class="flex flex-even">
            <div class="pub-left">
                <img src="{{ $image.RelPermalink }}" width="150"/>
            </div>

            <div class="pub-right">
                "{{ .title }}"<br>
                {{ .authors }}<br>
                <div>
                   <i>{{ .journal }}</i>. {{ .year }}. 
                   <a href="{{ .url }}">link</a>
                </div>
                <div><br><br></div>
            </div>
        </div>
        <hr>
    {{ end }} 
{{ end }} 
